<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Thasadith:400,700&amp;subset=chinese-traditional,latin-ext" rel="stylesheet">
    <link rel=stylesheet type="text/css" href="/stylesheets/event.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img src='/images/logo.png' class="logo">
        <div>
            <div class="username"><%= stuid %></div>
            <div class="signout">Signout</div>
        </div>
    </nav>
    <div class="select">
        <div class="info">系友資料</div>
        <div class="zupu">祖譜</div>
        <div class="event">聚會聚起來!</div>
        <div class="twohand">二手市集</div>
    </div>
    <div class='folder'></div>
</body>

</html>