<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type="text/css" href="/stylesheets/twohand_up.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img src='/images/logo.png' class="logo">
        <div>
            <div class="Username">Username</div>
            <div class="Signout">Signout</div>
        </div>
    </nav>
    <div class="select">
        <div>上傳商品</div>
        <div>下架商品</div>
    </div>
    <div class='folder'>
        <div class="photo">
            <div class="UP_photo"></div>
            <div class="UP_Button">上 傳 照 片</div>
        </div>
        <div class="spec">
            <div>商品：<input type="text" placeholder="請輸入商品名稱"></div>
            <div>聯絡：<input type="text" placeholder="請輸入聯絡方式"></div>
            <div>售價：<input type="text" placeholder="請輸入價格"></div>
            <div>類別：
                <select name="分類">
                    <option value="0" style="background:rgba(90, 90, 90, 0.75)">電器用品</option>
                    <option value="1" style="background:rgba(90, 90, 90, 0.75)">3C產品</option>
                    <option value="2" style="background:rgba(90, 90, 90, 0.75)">玩具玩偶</option>
                    <option value="3" style="background:rgba(90, 90, 90, 0.75)">衣服</option>
                    <option value="4" style="background:rgba(90, 90, 90, 0.75)">生活用品</option>
                    <option value="5" style="background:rgba(90, 90, 90, 0.75)">文具用品</option>
                    <option value="6" style="background:rgba(90, 90, 90, 0.75)">其他</option>
                </select>
            </div>
            <div>商品簡介：
                <textarea cols="30" rows="3" placeholder="請輸入簡介："></textarea>
            </div>
        </div>
        <div class="Upload">上傳</div>
    </div>

</body>

</html>