<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Thasadith:400,700&amp;subset=chinese-traditional,latin-ext"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel=stylesheet type="text/css" href="/stylesheets/Twohand_Up.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img src='/images/logo.png' class="logo">
        <div>
            <div class="Username">
                <a href="/profile/<%= stuid %>">
                    <%= stuid %></a>
            </div>
            <div class="signout"><a href="/logout" class="fas fa-door-open"></a></div>
        </div>
    </nav>
    <div class="select">
        <div style="margin-top:-0.25em;"><a href="/twohand/up">上傳商品</a></div>
        <div><a href="/twohand/down">下架商品</a></div>
    </div>
    <div class='folder'>
        <div class="photo">
            <div class="UP_photo"></div>
            <div class="UP_Button">上 傳 照 片</div>
        </div>
        <div class="spec">
            <div>商品：<input type="text" placeholder="請輸入商品名稱" class="Pname"></div>
            <div>聯絡：<input type="text" placeholder="請輸入聯絡方式" class="Contact"></div>
            <div>售價：<input type="text" placeholder="請輸入價格" class="Price"></div>
            <div>類別：
                <select name="分類">
                    <option value="0" style="background:rgba(90, 90, 90, 0.75)">電器用品</option>
                    <option value="1" style="background:rgba(90, 90, 90, 0.75)">3C產品</option>
                    <option value="2" style="background:rgba(90, 90, 90, 0.75)">玩具玩偶</option>
                    <option value="3" style="background:rgba(90, 90, 90, 0.75)">衣服</option>
                    <option value="4" style="background:rgba(90, 90, 90, 0.75)">生活用品</option>
                    <option value="5" style="background:rgba(90, 90, 90, 0.75)">文具用品</option>
                    <option value="6" style="background:rgba(90, 90, 90, 0.75)">其他</option>
                </select>
            </div>
            <div>商品簡介：
                <textarea cols="30" rows="3" placeholder="請輸入簡介："></textarea>
            </div>
        </div>
        <div class="btn">
            <div class="Upload">上傳</div>
            <div class="return"><a href="/twohand/market">返回</a></div>
        </div>
    </div>
<script src="/Javascripts/upload.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDnptdEc3-McxxtU4wjzz8OJA0N-fH2rXo",
    authDomain: "productupload-dc9a2.firebaseapp.com",
    databaseURL: "https://productupload-dc9a2.firebaseio.com",
    projectId: "productupload-dc9a2",
    storageBucket: "productupload-dc9a2.appspot.com",
    messagingSenderId: "226606373241"
  };
  firebase.initializeApp(config);
</script>
</body>

</html>