<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type="text/css" href="/stylesheets/twohand_buy.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img src='/images/logo.png' class="logo">
        <div>
            <div>eUsername</div>
            <div>Signout</div>
        </div>
    </nav>
    <div class="select">
        <div>上傳商品</div>
        <div>下架商品</div>
    </div>
    <div class='folder'>
        <div class="photo">
            <div class="UP_photo"></div>
            <div class="UP_Button">聯 絡 賣 家</div>
        </div>
        <div class="spec">
            <div>售價：<div class="price"></div></div>
            <div>商品簡介：<div class="discription"></div></div>
        </div>
        
    </div>

</body>

</html>