<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type="text/css" href="/stylesheets/twohand_market.css">
    <title>Document</title>
    <style>
        
    </style>
</head>

<body>
    <nav>
        <img src='/images/logo.png' class="logo">
        <div>
            <div class="Username">
                <a href="/profile/<%= stuid %>"><%= stuid %></a>
            </div>
            <div class="Signout"><a href="/login">Signout</a></div>
        </div>
    </nav>
    <div class="select">
        <div>　系友資料　</div>
        <div>　祖　譜　</div>
        <div>聚會聚起來!</div>
        <div>　二手市集　</div>
    </div>
    <div class='folder'>
        <div class="sort">
            <select name="分類">
                <option value="0" style="background:rgba(90, 90, 90, 0.75)">全部商品</option>
                <option value="1" style="background:rgba(90, 90, 90, 0.75)">電器用品</option>
                <option value="2" style="background:rgba(90, 90, 90, 0.75)">3C產品</option>
                <option value="3" style="background:rgba(90, 90, 90, 0.75)">玩具玩偶</option>
                <option value="4" style="background:rgba(90, 90, 90, 0.75)">衣服</option>
                <option value="5" style="background:rgba(90, 90, 90, 0.75)">生活用品</option>
                <option value="6" style="background:rgba(90, 90, 90, 0.75)">文具用品</option>
                <option value="7" style="background:rgba(90, 90, 90, 0.75)">其他</option>
            </select>
            <div class="My_Product">我的商品</div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="line">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="line">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>

</html>