<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type="text/css" href="/stylesheets/zuopu.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
    <title>族譜</title>
</head>

<body>
    <nav>
        <img src='/images/logo.png' class="logo">
        <div>
            <div class="Username">Username</div>
            <div class="Signout">Signout</div>
        </div>
    </nav>
    <div class="select">
        <div class="Information">系友資料</div>
        <div class="Zuopu">祖譜</div>
        <div class="Meet">聚會聚起來!</div>
        <div class="Twohand">二手市集</div>
    </div>
    <div class='folder'>
        <div class="container">
        </div>
    </div>
    <script src="/js/zuopu.js"></script>
</body>

</html>