body {
    font-family: 'Microsoft JhengHei','SF Pro Display';
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('/images/cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    margin:0px;
}
.Username {
    padding: 20px;
    color:white;
    font-size: 28px;
}
.Signout{
    padding: 20px; 
    font-size: 28px;
    color:white;
}

nav{
    margin: 10px 10px 20px 10px;
    justify-content: space-between;
    display: flex;
}
nav div div {
    display:inline-block;
    padding: 20px;
    font-family: 'SF Pro Display';
    color:white;
    font-size: 35px;
}

.folder{
    width: 95vw;
    height: 79vh;
    position: absolute;
    left: 40px;
    border-radius:40px 0px 40px 40px;
    background-color:rgb(90, 90, 90,.75);
    
    /* border-color:#aaaaee;
    border-width:3px;border-style:solid;
    padding:5px; */
}
.Background{
    justify-content: flex-end;
    display: flex;
}
.select{
    margin-top:25px; 
    color: white;
    font-size: 25px;
    display: flex;
<<<<<<< HEAD
    justify-content: flex-end;  
=======
    justify-content: flex-end;
    padding-right: 17px;
>>>>>>> 0d8480cdd1167c66aece7afd4e057db930933745
}

.select div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.folder .wrap{
    display: flex;
}

.folder .event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:40px;
    margin-top:383px;
}


.folder .attempt{
    font-size: 25px;
    margin: 10px;
    display: block;
    color:white;
    border:5px solid #707070;
    padding:10px;
}

.folder .build{
    font-size: 25px;
    margin: 10px;
    display: block;
    color:white;
    border:5px solid #707070;
    padding:10px;
}

.logo{
    width:25%;
    height:25%;
}

.calendar{
    margin-top: 35px;
    margin-left: 35px;
}

/* .empty{
    padding: 5px;
} */