body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Microsoft JhengHei','SF Pro Display';
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.32),  rgba(0, 0, 0, 0.32)),url("cb-colour-nightsky.jpg"); */
    margin:0px;
}
.Username {
    padding: 20px;
    color:white;
    font-size: 28px;
}
.Signout{
    padding: 20px; 
    font-size: 28px;
    color:white;
}
.folder{
    width: 95vw;
    height: 79vh;
    position: absolute;
    left: 40px;
    border-radius:40px 0px 40px 40px;
    background-color:rgb(90, 90, 90,.75);
    
    /* border-color:#aaaaee;
    border-width:3px;border-style:solid;
    padding:5px; */
}
.Background{
    justify-content: flex-end;
    display: flex;
}
.select{
    margin-top:25px; 
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    
}

.select div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
/*.Information{
    border-radius:10px 10px 0px 0px;
    margin-right:20px; 
    background-color:rgb(112, 112, 112,.50);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}*/
/*.Zuopu{
    border-radius:10px 10px 0px 0px;
    /*margin-left: 20px;*/
   /* margin-right:20px; 
    background-color:rgb(112, 112, 112,.50);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}*/
/*.Meet{
    border-radius:10px 10px 0px 0px;
    /*margin-left: 20px;*/
   /* margin-right:20px; 
    background-color:rgb(112, 112, 112,.50);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}*/
/*.Twohand{
    border-radius:10px 10px 0px 0px;
    /*margin-left: 20px;*/
    /*margin-right:20px; 
    background-color:rgb(112, 112, 112,.50);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}*/
.logo{
    position: absolute;
    left: 0%;
}

.calendar{
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 20px;
}
/* .empty{
    padding: 5px;
} */