<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type="text/css" href="establish.css">
    <script src='establish.js'></script>
    <!--<link rel=stylesheet type="text/css" href="custom_calendar.css">-->
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>

<body>
    <div class="Background">
        <img src='Symbol 2 – 7.svg' class="logo">
        <div class="Username">Username</div>
        <div class="Signout">Signout</div>

    </div>
    <div class="select">
        <div class="Information">　系友資料　</div>
        <div class="Zuopu">　祖　譜　</div>
        <div class="Meet">聚會聚起來!</div>
        <div class="Twohand">　二手市集　</div>
    </div>
    <div class='folder'>
        <div class='wrap'>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=v79l8bhblaaobqngneshc7kt4k%40group.calendar.google.com&amp;color=%23333333&amp;ctz=Asia%2FTaipei"
                style="border-width:0" width="700" height="500" frameborder="0" scrolling="no" class="calendar"></iframe>
            <div class='event'>
                <div>日期
                    <select class='year'></select>
                    <select class='month'></select>
                    <select class='date'></select>
                </div>
                <div>時間
                    <select class='shour'></select>
                    <select class='smin'></select>
                    ~
                    <select class='ehour'></select>
                    <select class='emin'></select>
                </div>
                <div>活動名稱
                    <input type='text' placeholder="請輸入活動名稱" class='name'>
                </div>
                <div>活動簡介
                    <div class="GG">
                        <textarea cols="25" row="3" placeholder="請輸入活動簡介" class='des'></textarea>
                        <div class='build'>建立活動</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>