body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('/images/cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Thasadith','Noto Sans TC', sans-serif !important;
}
nav{
    margin: 10px 10px 20px 10px;
    display: flex !important;
    justify-content: space-between;
}
nav div div {
    cursor: pointer;
    display:inline-block;
    padding: 20px;
    color:white;
    font-size: 35px;
}

.folder{
    width: 95vw;
    height: 79vh;
    position: absolute;
    left: 40px;
    border-radius:40px 0px 40px 40px;
    background-color:rgb(90, 90, 90,.75);
    margin-bottom: 20px;
}

.select{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.select div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.folder .wrap{
    display: flex;
}

.folder .event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:40px;
    font-size: 30px;
    color:white;
    margin-top:60px;
}

.event div{
    margin-bottom: 30px;
}

.logo{
    width: 25%;
    height: 25%;
}

.calendar{
    margin-top: 35px;
    margin-left: 35px;
}

.year,.month,.date,.shour,.smin,.ehour,.emin{
    color:white;
    background-color:rgb(90, 90, 90,.75);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(112, 112, 112);
}

.event .name{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:rgba(90, 90, 90, 0);
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color:rgba(90, 90, 90, 0);
    border-bottom: 2px solid rgba(112 , 112, 112);
}

.event .des{
    background:rgba(90, 90, 90, 0);
    cursor:pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(112 , 112, 112);
}
.GG{
    display: flex;
    font-size: 30px;
    margin-top: 10px;
}

.folder .build{
    cursor: pointer;
    font-size: 25px;
    color:white;
    border:2px solid #707070;
    margin-top:50px;
    margin-bottom:0px;
    margin-left: 80px;
    padding:5px;
}
a{
    color: white!important;
    
}
/* .empty{
    padding: 5px;
} */