body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('/images/cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Thasadith','Noto Sans TC', sans-serif;
}
nav{
    margin: 10px 10px 20px 10px;
    justify-content: space-between;
    display: flex;
}
nav div div {
    display:inline-block;
    padding: 20px;
    /*font-family: 'SF Pro Display';*/
    color:white;
    font-size: 35px;
}
.folder{
    width: 94vw;
    height: 79vh;
    position: absolute;
    left: 40px;
    border-radius:40px 0px 40px 40px;
    background-color:rgb(90, 90, 90,.75);
    margin-bottom: 20px;
}
.folder .wrap{
    display: flex;
}

.folder .event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:40px;
    margin-top:372px;
}


.folder .attempt{
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
    display: block;
    color:white;
    border:5px solid #707070;
    padding:10px;
}

.folder .build{
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
    display: block;
    color:white;
    border:5px solid #707070;
    padding:10px;
}
.select{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.select div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.logo{
    width: 25%;
    height: 25%;
}

.calendar{
    margin-top: 35px;
    margin-left: 35px;
}

a{
    color: white;
}

/* .empty{
    padding: 5px;
} */