body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Microsoft JhengHei','SF Pro Display';
    overflow-x: hidden;
    margin:0px;
}
nav{
    margin: 10px 10px 20px 10px;
    justify-content: space-between;
    display: flex;
}
nav div div {
    display:inline-block;
    padding: 20px;
    /*font-family: 'SF Pro Display';*/
    color:white;
    font-size: 35px;
}
.folder{
    width: 95vw;
    height: 79vh;
    /*height: 70vh;*/
    margin : 0 5%;
    border-radius: 40px;
    background-color: rgba(90, 90, 90, 0.75);
    /* border-color:#aaaaee;
    border-width:3px;border-style:solid;
    padding:5px; */
}
.select{
    margin: 0 5%;
    /*font-family: 'Ink Free';*/
    color: white;
    font-size: 29px;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}
.select div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.logo{
    width: 25%;
    height: 25%;
}

.calendar{
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 20px;
}
/* .empty{
    padding: 5px;
} */