body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('/images/cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Thasadith','Noto Sans TC', sans-serif;
}
nav{
    margin: 10px 10px 20px 10px;
    justify-content: space-between;
    display: flex;
}
nav div div {
    display:inline-block;
    padding: 20px;
    color:white;
    font-size: 35px;
}
.folder{
    width: 94vw;
    height: 79vh;
    position: absolute;
    left: 40px;
    border-radius:40px 0px 40px 40px;
    background-color:rgb(90, 90, 90,.75);
    margin-bottom: 20px;
}
.select{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.select div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.logo{
    width: 25%;
    height: 25%;
}
.box{
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.box div{
    position: relative;
    width: 12vw;
    height: 25vh;
    background-color: rgba(90, 90, 90, 0.75);
    margin-top:20px;
    margin-left: 0px;
    margin-right: 100px;
    border-color:rgba(112, 112, 112);
    border-width:1px;
    border-style:solid;
}
.box div div{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    font-family: 'SF Pro Display';
    color: white;
    text-align: center;
    border-color:rgba(112, 112, 112);
    cursor: pointer;
    border-width:1px;
    border-style:solid;
    margin: 0px;
}
.line{
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.line div{
    position: relative;
    width: 12vw;
    height: 2vh;
    background-color: rgba(90, 90, 90, 0);
    margin-left: 0px;
    margin-right: 100px;
    margin-top: 5px;
    border-width:1px;
    border-style:solid;
    border-top-color: rgba(90, 90, 90, 0);
    border-left-color: rgba(90, 90, 90, 0);
    border-right-color: rgba(90, 90, 90, 0);
    border-bottom-color: rgba(112, 112, 112)
}
.btn{
    display: flex;
    padding-left:1280px;
}
.btn .return{
    margin-left: 25px;
    width: 80px;
    height: 40px; 
    color: white;
    font-size: 25px;
    text-align: center;
    border-color:rgba(112 , 112, 112);;
    border-width:2px;
    border-style:solid;
    cursor: pointer;
    display: block;
}
a{
    color: white;
}
