body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('/images/cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    margin:0px;
}
nav{
    margin: 10px 10px 20px 10px;
    justify-content: space-between;
    display: flex;
}
nav div div {
    cursor: pointer;
    display:inline-block;
    padding: 20px;
    font-family: 'SF Pro Display';
    color:white;
    font-size: 35px;
}
.folder{
    width: 95vw;
    height: 79vh;
    position: absolute;
    left: 40px;
    border-radius:40px 20px 40px 40px;
    background-color:rgb(90, 90, 90,.75);
    
    /* border-color:#aaaaee;
    border-width:3px;border-style:solid;
    padding:5px; */
}
.select{
    margin-top:25px; 
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
}
.select div{
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.My_Product{
    cursor: pointer;
    margin-top: 10px;
    height: 25px;
    margin-right:124px;
}
.logo{
    width: 25%;
    height: 25%;
}
.box{
    margin-left:100px;
    margin-right:100px;
    display: flex;
    justify-content: space-between;
}
.box div{
    position: relative;
    width: 12vw;
    height: 25vh;
    background-color: rgba(90, 90, 90, 0.75);
    margin: 20px;
    border-color:rgba(112,112,112);
    border-width:1px;
    border-style:solid;
}
.line{
    margin-left:100px;
    margin-right:100px;
    display: flex;
    justify-content: space-between;

}
.line div{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    width: 12vw;
    height: 3vh;
    border-color:rgba(90, 90, 90,0); 
    border-bottom-color: rgba(112,112,112);
    border-width:1px;
    border-style:solid;
}
.sort{
    margin-left:100px;
    margin-right:100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.sort div{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
   
    border-radius: 5px;
    font-family:'SF Pro Display';
    font-size: 25px;
    padding: 5px;
    border-color:rgba(112,112,112);
    border-width:2px;
    border-style:solid;
}
.sort select{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: 'SF Pro Display';
    font-size: 25px;
    background:rgba(90, 90, 90, 0);
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: bold;
    border-color: rgba(112,112,112);
    margin-top: 10px;
}

