body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('/images/cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Thasadith','Noto Sans TC', sans-serif;
}
nav{
    margin: 10px 10px 20px 10px;
    justify-content: space-between;
    display: flex;
}
nav div div {
    display:inline-block;
    padding: 20px;
    color:white;
    font-size: 28px;
}
.folder{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: rgba(90, 90, 90, 0.75);
    width: 95vw;
    height: 79vh;
    left: 40px;
    border-radius:40px 40px 40px 40px;
    background-color:rgb(90, 90, 90,.75);
}
.select{
    margin: 0 5%;
    font-family: 'Ink Free';
    color: white;
    font-size: 29px;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}
.select div{
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:rgba(90, 90, 90, 0.75); 
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    width: 25%;
    height: 25%;
}
.photo div{
    margin-left:200px;
    margin-right:100px;
    margin-top:50px;
    font-family: 'SF Pro Display';
    color: white;
}
.UP_Button{ 
    /* height: 35px;
    width: 120px; */
    font-size: 30px;
    text-align: center;
    border-color: rgba(112 , 112, 112);;
    border-width:2px;
    border-style:solid;
    cursor: pointer;
}
.UP_photo{
    width: 300px;
    height: 300px;
    margin: 30px;
    background:rgba(90, 90, 90, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(112 , 112, 112);;
}
.spec{
    margin-left:100px;
    margin-right:150px;
    margin-top: 50px;
    
}
.spec div{
    font-size: 30px;
    font-family: 'SF Pro Display';
    color: white;
}
.spec input{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:rgba(90, 90, 90, 0);
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-bottom-color: rgba(112 , 112, 112);
    border-top-color: rgba(90, 90, 90, 0);
    border-left-color: rgba(90, 90, 90, 0);
    border-right-color: rgba(90, 90, 90, 0);
}
.spec textarea{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:rgba(90, 90, 90, 0);
    cursor:pointer;
    border-width: 1px;
    border-style: bold;
    border-color: rgba(112 , 112, 112);
}
.spec select{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background:rgba(90, 90, 90, 0);
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: bold;
    border-color: rgba(112 , 112, 112);
}
.Upload{
    position: absolute;
    bottom: 36px;
    right: 50px;
    width: 80px;
    height: 35px; 
    color: white;
    font-size: 30px;
    text-align: center;
    border-color:rgba(112 , 112, 112);;
    border-width:2px;
    border-style:solid;
    cursor: pointer;
}
a{
    color: white;
}