body {
    background: linear-gradient(rgba(0, 0, 0, .32), rgba(0, 0, 0, .32)), url('/eventholder/cb-colour-nightsky.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.32),  rgba(0, 0, 0, 0.32)),url("cb-colour-nightsky.jpg"); */
    margin:0px;
}
.Username {
    padding: 20px;
    font-family: 'SF Pro Display';
    color:white;
    font-size: 35px;
}
.Signout{
    padding: 20px; 
    font-size: 35px;
    font-family: 'SF Pro Display';
    color:white;
}
.folder{
    width: 95vw;
    height: 78vh;
    position: absolute;
    left: 40px;
    border-radius:40px;
    background-color: black;
    
    /* border-color:#aaaaee;
    border-width:3px;border-style:solid;
    padding:5px; */
}
.Background{
    justify-content: flex-end;
    display: flex;
}
.select{
    margin-top:50px; 
    font-family: 'Ink Free';
    color: white;
    font-size: 29px;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}
.Information{
    border-radius:10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:black; 
    padding-left: 10px;
    padding-right: 10px;
}
.Zuopu{
    border-radius:10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:black; 
    padding-left: 10px;
    padding-right: 10px;
}
.Meet{
    border-radius:10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:black; 
    padding-left: 10px;
    padding-right: 10px;
}
.Twohand{
    border-radius:10px;
    margin-left: 20px;
    margin-right:20px; 
    background-color:black; 
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    position: absolute;
    left: 0%;
}
/* .empty{
    padding: 5px;
} */